<section id="not-found">
    <div class="container">
        <div class="row py-5 my-5">
            <div class="col-lg-6 d-flex">
                <div class="justify-content-center align-self-center mx-auto">
                    <p class="h1 text-muted font-weight-bold mb-5 text-center">
                        Oops! Página no encontrada.
                    </p>
                    <p class="h3">
                        ¡¿Acaso un cliente se ha llevado nuestra vista?! Parece que la hemos perdido.
                    </p>
                    <div class="info mb-5">
                        <p class="text-muted">No se encontró la página a la que intentas acceder.</p>
                        <span class="code text-muted">Error code: 404</span>
                    </div>
                    <div class="d-flex">
                        <div class="buttons-group">
                            <a routerLink="/" mdbBtn class="own-btn" size="sm" mdbWavesEffect>
                                Ir al inicio <mdb-icon fas icon="home"></mdb-icon>
                            </a>
                            <a mdbBtn class="own-btn" size="sm" mdbWavesEffect mdbTooltip="Volver atrás" placement="bottom">
                                <mdb-icon fas icon="undo"></mdb-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex">
                <div class="justify-content-center align-self-center mx-auto">
                    <img loading="lazy" src="assets/images/404.png" alt="Page not found" class="img-fluid mt-3">
                </div>
            </div>
        </div>
    </div>
</section>